<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/theme/css/main.css" />
  </head>
  <body>
    <header id="banner" class="body">
      <h1><a href="/">{{ site.title }}</a></h1>
      <nav>
        <ul>
          <li><a href="/index.md">Home</a></li>
          <li><a href="/archive/index.html">Archive</a></li>
        </ul>
      </nav>
    </header>
    <main class="body">
      {{ content }}
    </main>
    <footer class="body">
      <p>&copy; {{ site.time | date: "%Y" }} {{ site.title }}. All rights reserved.</p>
    </footer>
  </body>
</html>
